alias c="$EDITOR"
alias cp="cp -iv"
alias mv="mv -iv"
alias rm="rm -rfv"
alias mkdir="mkdir -pv"
alias ~="cd ~"
alias p="cd ~/Developer/"
alias dl="cd ~/Downloads/"
alias la="ls -la"
alias tunnel="cloudflared tunnel --url"
alias htop="btop"
alias top="btop"
alias cat="bat"
alias find="fd"
alias dotfiles="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias g="lazygit"
alias gst="git status"
alias f="open -a Finder ./"
